
.browse {
    width: 100%;
    background-color: $color-card;
  
    .filter {
      padding-top: 40px;
      margin-bottom: 40px;
  
      @media (max-width:768px) {
        .rating-filter{
            margin-top: 10px;
        }
      }
      h3 {
        font-size: 30px;
        color: $colo-secondary;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        margin-bottom: 30px;
      }
      select {
        background-color: $color-dark;
        color: $colo-secondary;
        appearance: menulist;
  
        option {
          color: $colo-secondary;
  
          padding: 5px;
        }
      }
      .myform {
        justify-content: flex-end;
      }
  
  
  
    }
  
    .movie-col {
      cursor: pointer;
      &:hover > .rating {
        display: block;
      }
      &:hover > .title {
        display: block;
      }
      &:hover > .release_date {
        display: block;
      }
    }
  
    .movie-row{
        .rating {
      position: absolute;
      left: 20px;
      top: 10px;
      background-color: #343a40c0;
      border-radius: 10px;
      display: none;
      padding: 0 30px 0 30px;
      span {
        color: $colo-secondary;
        font-size: 30px;
        padding: 0;
      }
    }
  
    .title {
      position: absolute;
      right: 5px;
      bottom: 10px;
      left: 5px;
      background-color: #343a40e3;
      border-radius: 10px;
      display: none;
      span {
        color: $colo-secondary;
        padding: 20px;
        font-size: 30px;
      }
    }
  
    .release_date {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: #343a40c0;
      border-radius: 10px;
      display: none;
      span {
        color: $colo-secondary;
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        font-weight: bold;
      }
    }
  
        @media  (min-width:576px) and (max-width:992px) {
  
             .rating {
              padding: 0 10px 0 10px;
              span {
                font-size: 17px;
              }
               }
              .title {
                span {
                  color: $colo-secondary;
                  padding: 10px;
                  font-size: 16px;
                }
              }
  
              .release_date {
     
              span {
                padding: 10px;
                font-size: 13px;
              
              }
                }
  
        }   
  
    }
    
  
  
  .movie-img-parent{
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }
  
  
    .paging {
      margin-top: 30px;
  
     .muted {
            pointer-events: none;
            cursor: default;
          }
      li {
        a {
          background-color: $color-card;
        }
      }
    }
  }