$color-main: rgba(212, 0, 255, 0.726);
$color-main-soft: rgba(212, 0, 255, 0.363);
$colo-secondary: #42b983;
$color-dark: #343a40;
$color-card:#21262c;


  .home {

    #carousel-id {
        // margin-bottom: 50px;
    }
    .carousel-item {
      background: no-repeat center center;
      background-size: cover;
      -webkit-background-size: cover ;
      -moz-background-size: cover ;
      -o-background-size: cover ;
    }

    .carousel-indicators li{
        height: 8px;
      cursor: pointer;
    }
    

    
.latest {
    background-color: $color-dark;
   // margin-bottom: 50px;
    padding: 50px 0 150px 0 ;
  
      .latest-h2 {
        font-size: 40px;
        font-weight: bold;
        font-family:'Times New Roman', Times, serif;
        color: white;
background-color: #21262c;      }
      .latest-p{
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        margin-bottom: 30px;
        color:white;
      }
  
  }
  
  


  }