.header .navbar {
  padding: 5px 5px 3px 5px;
}
.header .navbar .navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
}
.header .navbar .top-pages {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header .navbar .top-pages a {
  font-weight: bold;
  color: rgba(212, 0, 255, 0.726);
  padding: 10px;
  text-decoration: none;
}
.header .navbar .top-pages a.router-link-exact-active {
  color: #42b983;
  background-color: #343a40;
  border-radius: 40%;
  border: 2px solid rgba(212, 0, 255, 0.363);
}
.header .navbar ul {
  position: absolute;
  top: 5;
  left: 45%;
}
.header .navbar ul li {
  border-radius: 40%;
}
.header .navbar ul li:hover {
  background-color: rgba(212, 0, 255, 0.062);
}
@media (max-width: 567px) {
  .header .navbar ul {
    left: 40%;
  }
}
.header .navbar #brand-logo {
  color: rgba(212, 0, 255, 0.726);
  font-size: 30px;
}
.header .navbar #brand-logo span {
  font-size: 20px;
  color: #42b983;
}

.home {
  background-color: #343a40;
}
.home #carousel-id {
  margin-bottom: 50px;
}
.home .carousel-item {
  background: no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.home .carousel-indicators li {
  height: 8px;
  cursor: pointer;
}
.home .latest {
  background-color: #343a40;
  padding: 0 0 50px 0;
}
.home .latest .latest-h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #42b983;
  background-color: #21262c;
}
.home .latest .latest-p {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  color: #42b983;
}
.home .latest .next {
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 4px;
  padding: 1px 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 500px;
  cursor: pointer;
  z-index: 2;
  background-color: #42b98357;
}
.home .latest .next:hover {
  background-color: #85abd14b;
}
.home .latest .prev {
  position: absolute;
  top: 20px;
  left: 10px;
  border-radius: 4px;
  padding: 1px 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 500px;
  cursor: pointer;
  z-index: 2;
  background-color: #42b98357;
}
.home .latest .prev:hover {
  background-color: #85abd14b;
}
@media (max-width: 768px) {
  .home .latest .indicators {
    display: none;
  }
}
.home .groups h4 {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 25px;
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #42b983;
  background-color: #21262c;
}
.home .groups .first-category-row {
  margin-bottom: 20px;
}
.home .groups .group-col {
  position: relative;
}
.home .groups .group-col:hover {
  cursor: pointer;
}
.home .groups .group-col:hover > .rating {
  display: block;
}
.home .groups .group-col:hover > .title {
  display: block;
}
.home .groups .group-col:hover > .release_date {
  display: block;
}
.home .groups .group-col .rating {
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: #343a40c0;
  border-radius: 10px;
  display: none;
  padding: 0 30px 0 30px;
}
.home .groups .group-col .rating span {
  color: #42b983;
  font-size: 30px;
  padding: 0;
}
.home .groups .group-col .title {
  position: absolute;
  right: 5px;
  bottom: 10px;
  left: 5px;
  background-color: #343a40e3;
  border-radius: 10px;
  display: none;
}
.home .groups .group-col .title span {
  color: #42b983;
  padding: 20px;
  font-size: 30px;
}
.home .groups .group-col .release_date {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #343a40c0;
  border-radius: 10px;
  display: none;
}
.home .groups .group-col .release_date span {
  color: #42b983;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.home .check-categories {
  margin: 40px 0 40px 0;
}
.home .check-categories:hover {
  cursor: pointer;
}
.home .check-categories a {
  color: #42b983;
  font-size: 22px;
  font-weight: bold;
  padding: 0 0;
}
.home .sign-up {
  width: 100%;
  background-color: #21262c;
  padding: 40px 60px 60px 60px;
}
.home .sign-up .heading {
  margin-bottom: 50px;
}
.home .sign-up .heading h2 {
  font-size: 40px;
  color: #42b983;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.home .sign-up .heading p {
  font-size: 20px;
  color: #42b983;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  text-transform: uppercase;
}
.home .sign-up .input-email {
  height: 100%;
}
@media (max-width: 768px) {
  .home .sign-up .input-email {
    margin-bottom: 10px;
  }
}
.home .footer {
  padding: 30px 0;
}
.home .footer .footer-brand #brand-logo {
  color: rgba(212, 0, 255, 0.726);
  font-size: 40px;
  text-decoration: none;
}
.home .footer .footer-brand #brand-logo span {
  font-size: 20px;
  color: #42b983;
}
.home .footer .footer-brand p {
  color: #9b9b9b;
}
.home .footer .helpful-links h6 {
  color: #42b983;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.home .footer .helpful-links ul {
  list-style: none;
  padding: 0;
}
.home .footer .helpful-links ul li a {
  color: #9b9b9b;
}
.home .footer .footer-address h6 {
  color: #42b983;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.home .footer .footer-address ul {
  list-style: none;
  color: #9b9b9b;
  padding: 0;
}

body {
  background-color: #21262c;
}

/*# sourceMappingURL=main.css.map */
